/* background */
.bg-gray {
  background-color: #fafafa;
}

/* button */
.button-black {
  background: #000;
  color: #fff;
}
.button-black:hover {
  background: #fff;
  color: #000;
}

/* text-decoration */
.underline-orange {
  border-bottom: 1px solid #ea334c;
}

/* text */
.text-center {
  text-align: center;
}

.text-contrast {
  font-size: 1.25em;
}

.text-small {
  font-size: .75em;
}

/* marker */
.marker-yellow {
  background: linear-gradient(transparent 60%, #ffff66 60%);
}

/* margin */
mb-30 {
  margin-bottom: 30px;
}
